<!DOCTYPE html>
<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>SEDIAP</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Edgar Hernandez Garcia"/>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="css/estilos.min.css">
</head>
<body ng-controller="ctrlMenu">
<header>
    <nav class="row center-xs middle-xs nav-menu">
        <a href="/" ng-click="objMenu.ItemSeleccionado('home')"><p ng-class="{itemMenuSeleccionado: 'home' == objMenu.menuSeleccionado}">Home</p></a>
        <div class="separador">/</div>
        <a href="#!/equipos" ng-click="objMenu.ItemSeleccionado('equipos')"><p ng-class="{itemMenuSeleccionado: 'equipos' == objMenu.menuSeleccionado}">Equipos</p></a>
        <div class="separador">/</div>
        <a href="#!/refacciones" ng-click="objMenu.ItemSeleccionado('refacciones')"><p ng-class="{itemMenuSeleccionado: 'refacciones' == objMenu.menuSeleccionado}">Refacciones</p></a>
        <div class="separador">/</div>
        <a href="#!/proyectos" ng-click="objMenu.ItemSeleccionado('proyectos')"><p ng-class="{itemMenuSeleccionado: 'proyectos' == objMenu.menuSeleccionado}">Proyectos</p></a>
        <!--         <div class="separador">/</div>
                <a href="" ng-click="objMenu.ItemSeleccionado('quienes&somos')"><p ng-class="{itemMenuSeleccionado: 'quienes&somos' == objMenu.menuSeleccionado}">Quienes Somos</p></a> -->
        <div class="separador">/</div>
        <a href="#!/contacto" ng-click="objMenu.ItemSeleccionado('contacto')"><p ng-class="{itemMenuSeleccionado: 'contacto' == objMenu.menuSeleccionado}">Contacto</p></a>
    </nav>
    <h1 style="display: none">Servicios de Hidrolavadoras Alta Presión</h1>
</header>
<section ng-view>
</section>
<footer ng-class="objMenu.classfooter">
    <div class="row middle-xs height-100">
        <div class="col-xs-4 logo_footer">
            <img src="images/logo-white-sediap.png">
            <span>&copy; 2017</span>
        </div>
        <div class="col-xs-8">
            <div class="row end-xs">
                <span class="icon-facebook2 icon-redes-sociales"></span>
                <span class="icon-twitter icon-redes-sociales"></span>
                <span class="icon-youtube icon-redes-sociales"></span>
            </div>
        </div>

    </div>
</footer>
<script src="bundle.js"></script>
</body>
</html>