<div id="da-slider" class="da-slider">
       <div class="__logoS">
           <img src="assets/images/sediap-logo.png" style="height: 100px" class="animated fadeInDown" alt="Logo SEDIAP"/>
           <!--<h1 class="slogan_logo">SERVICIO DE HIDROLAVORAS ALTA PRESION</h1>-->
       </div>
      <!-- <div class="da-slide">
           <h2>La solución a tu problema</h2>
           <p>Contamos con las mejores marcas de hidrolavadoras de alta presión con equipamiento profesional y una
               gran variedad de equipos de limpieza industriales, ofreciendo un servicio más eficiente y seguro. </p>
           <div class="da-img"><img src="assets/images/slider/solucion_2.png" alt="image01" style="margin-top: -25px;"/></div>
       </div>
       <div class="da-slide">
           <h2>Limpieza Industrial</h2>
           <p>En SEDIAP estamos preparados para brindar servicios de limpieza Industrial, con equipos de alta presión y
               recursos humanos completos que cuenta con la experiencia y capacitación necesaria para adaptarse a las
               necesidades de cada cliente.</p>
           <a href="#" class="da-link">Leer más</a>
           <div class="da-img"><img src="assets/images/slider/hidrolavadoras-industrial.png" style="height: 290px;margin-top: -20px;" alt="image01"/></div>
       </div>
       <div class="da-slide">
           <h2>Arma tu Car-Wash</h2>
           <p>Tenemos todos los materiales básicos para iniciar este negocio como: Aspiradoras, Pulidoras,
               Hidrolavadora, Champú, Cera, Aromatizantes, Abrillantadores, Desengrasantes.</p>
           <a href="#" class="da-link">Leer más</a>
           <div class="da-img"><img src="assets/images/slider/car-wash_03.png" alt="image01"/></div>
       </div>
       <nav class="da-arrows">
           <span class="da-arrows-prev"></span>
           <span class="da-arrows-next"></span>
       </nav>-->
</div>
