<header>
    <nav class="row center-xs middle-xs nav-menu">
        <a routerLink="/" routerLinkActive="active">
          <p>Home</p>
        </a>
        <div class="separador">/</div>
        <a routerLink="equipos" routerLinkActive="active">
          <p>Equipos</p></a>
        <div class="separador">/</div>
        <a href="#!/refacciones">
          <p>Refacciones</p>
        </a>
        <div class="separador">/</div>
        <a href="#!/proyectos">
          <p>Proyectos</p>
        </a>
        <div class="separador">/</div>
        <a href="#!/contacto">
          <p>Contacto</p>
        </a>
    </nav>
    <h1 style="display: none">Servicios de Hidrolavadoras Alta Presión</h1>
</header>
