<div id="da-slider" class="da-slider da-slider-secundario">
    <div class="sliderContenidoVentanas">
        <img src="images/sediap-logo.png" style="height: 100px" class="slideDown" alt="Logo SEDIAP"/>
    </div>
</div>
<br><br>
<section class="row">
    <aside class="col-xs-12 post-article">
        <article class="post">
            <header ng-bind-html="dateDatalle.header">
            </header>
           <div ng-bind-html="dateDatalle.detalle"></div>
        </article>
    </aside>
</section>