<div id="da-slider" class="da-slider da-slider-secundario">
    <div class="sliderContenidoVentanas">
        <img src="images/sediap-logo.png" style="height: 100px" class="slideDown" alt="Logo SEDIAP"/>
    </div>
</div>
<section class="row">
    <aside class="servicios">
        <sub>Proyectos</sub>
        <hr>
        <h2>Desarrollo y crecimiento industrial</h2>
    </aside>

    <aside class="col-xs-3">
        <article class="mini-post">
            <a href="#!/equipos/1/5/Industrial">
                <figure>
                    <img src="images/equipos/hidrolavadoras/f-250.jpg">
                </figure>
                <div class="header">
                    <h3>Hidrolavadora industrial</h3>
                    <!-- <time class="published" datetime="2015-10-20">October 20, 2015</time> -->
                </div>
            </a>
        </article>

        <article class="mini-post">
            <a href="#!/equipos/1/6/Agua fria">
                <figure>
                    <img src="images/equipos/hidrolavadoras/f-200.jpg">
                </figure>
                <div class="header">
                    <h3>Hidrolavadora agua fría</h3>
                    <!-- <time class="published" datetime="2015-10-20">October 20, 2015</time> -->
                </div>
            </a>
        </article>

        <article class="mini-post">
            <a href="#!/equipos/1/7/Agua caliente">
                <figure>
                    <img src="images/equipos/hidrolavadoras/c-200.jpg">
                </figure>
                <div class="header">
                    <h3>Hidrolavadora agua caliente</h3>


                </div>
            </a>

        </article>
    </aside>
    <aside class="col-xs-9">
        <article class="post" ng-repeat="project in arrayProyectos ">
            <header ng-bind-html="project.header"></header>
            <section ng-bind-html="project.cuerpo">
            </section>
            <a href="#!/proyectos/detalle-proyecto/{{$index}}" class="button big">Continuar leyendo</a>
        </article>
    </aside>
</section>